
<h2>Our New Cutomer details</h2>

<h3>
    Cid:@Model.cid <br />

    Cname:@Model.cname <br />

    Caddr:@Model.caddr
</h3>

<table border="1px" style="background-color:aqua;" cellpadding="10px">
    <tr>
        <td colspan ="2">Customer Details</td>
    </tr>
    <tr>
        <td>CID:</td>
        <td>@Model.cid</td>
    </tr>
    <tr>
        <td>CNAME:</td>
        <td>@Model.cname</td>
    </tr>
    <tr>
        <td>CADDRESS:</td>
        <td>@Model.caddr</td>
    </tr>
</table>