
<form method="post" action="addnos">
    Enter Number1:<input type="text" name="t1" value="@ViewData["Number 1"]" /><br />
    Enter Number2:<input type="text" name="t2" value="@ViewData["Number 2"]"/><br />
    <input type="submit" value="Add" /><br />
    Sum of Two Numbers:<input type="text" name="t3" value="@ViewData["sum"]" /><br />
</form>